<div class="well">
  <h2>favorites</h2>
  {{#each favoriteList.faves as |fave|}}
    {{#link-to 'question' fave.id}}<p>{{fave.questionContent}}: {{fave.questionAuthor}}</p>{{/link-to}}
    <button class="btn btn-xs btn-danger" {{action 'removeFromFaves' fave}}><span class="glyphicon glyphicon-trash"></span></button>
  {{/each}}
</div>
