<!-- Links to index.hbs -->
{{#link-to 'question' question.id}}
  <div class="question-blocks text-center">
    <h3>{{question.questionContent}}</h3>
    <p>{{question.questionAuthor}}</p>
  </div>
{{/link-to}}
