<!-- Links to index.hbs -->
{{#link-to 'question' question.id}}
  <div class="question-blocks text-center">
    {{questionsFull}}
    <button class="btn btn-xs btn-info"><span class="glyphicon glyphicon-star"></span></button>
  </div>
{{/link-to}}
