$lt-backgrounds : rgba(0, 224, 69, .4);
$md-backgrounds : rgba(31, 105, 54, .2);
$mddk-backgrounds : rgba(31, 105, 54, .4);

body {
  background-color: $lt-backgrounds;
  a:link,
  a:visited,
  a:active {
    color: black;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  .well {
    background-color: $mddk-backgrounds;
  }
  .question-blocks,
  .new-question-form {
    background-color: $md-backgrounds;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 10px 0px;
  }
  .question-pages {
    background-color: $md-backgrounds;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    .glyphicon-pencil {
      padding-left: 5px;
    }
  }
  .new-answer {
    margin: 10px;
  }
  .new-answer-block {
    background-color: $md-backgrounds;
    border-radius: 10px;
    margin: 15px;
    padding: 5px 0;
  }
  .answer-block {
    background-color: $md-backgrounds;
    border-radius: 10px;
    padding: 5%;
    .answer-tiles {
      background-color: $mddk-backgrounds;
      padding: 2%;
      margin: 2%;
      border-radius: 25px;
    }
  }
}
