$lt-backgrounds : rgba(0, 224, 69, .4);
$md-backgrounds : rgba(31, 105, 54, .2);

body {
  background-color: $lt-backgrounds;
  a:link,
  a:visited,
  a:active {
    color: black;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  .question-blocks {
    background-color: $md-backgrounds;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 10px 0px;
  }
  .question-pages {
    background-color: $md-backgrounds;
    border-radius: 20px;
    padding: 15px 0;
    margin: 20px;
  }
}
