<div class="text-center">
  <h2>About QnA</h2>
  <p>
    QnA is the place you want to ask your questions. No trolls. Just answers. You will not get better answers on the internet.
  </p>
  <p>
    The devloper plans to only spend one day on this project. Other than that, the developer is highly motivated to help you get your questions answered! Ask a question today!
  </p>
</div>
