<div class="text-center">
  <h2>Contact</h2>

  <p>
    You can learn more about the developer by going to his github page!
  </p>

  <p>
    <img class="img-circle img-responsive center-block" src="http://mehequanna.github.io/portfolio/img/stephen.jpg" alt="Stephen" /><br />
    Stephen: <a href="http://www.github.com/mehequanna">GitHub site</a>
  </p>
</div>
